.koment button {
  background: none;
  border: none;
  color: inherit;
  display: inline-block;

  overflow: visible; // IE8
  font-size: inherit; // IE in general. WTF.
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  transition: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.koment .koment-button {
  cursor: pointer;

  font-size: 0.7em;

  transition: all 0.2s linear;

  &:before {
    line-height: 2.3;
  }
}
