.koment .koment-control-bar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.8em;

  margin: 50px $kmt-padding-global $kmt-padding-global $kmt-padding-global;

  border-radius: 4em;

  @include background-color-with-alpha($kmt-primary-background-color, $kmt-primary-background-transparency);
}

.koment.koment-toggle-edit .koment-control-bar {
  margin-top: $kmt-padding-global;
  top: $kmt-padding-global;
  left: $kmt-padding-global;
  right: $kmt-padding-global;
  width: auto;
  border-radius: $kmt-primary-border-radius;
  max-height: 150px;
  flex-direction: row;
  $trans: all 0.4s; // Var needed because of comma
  @include transition($trans);
  @include background-color-with-alpha($kmt-primary-background-color, 1);
}

// Video has started playing
.koment-has-started .koment-control-bar {
  @include display-flex;
  visibility: visible;
  opacity: 1;
  flex-direction: column;

  //$trans: visibility 0.1s, opacity 0.1s, height 0.4s, width 0.2s; // Var needed because of comma
  $trans: visibility 0.1s, opacity 0.1s, height 0.4s, width 0.2s, left 0.2s, right 0.2s, top 0.2s; // Var needed because of comma
  @include transition($trans);
}

// IE 8 hack for media queries
$ie8screen: "\\0screen";

// Video has started playing AND user is inactive
.koment-has-started.koment-user-inactive.koment-playing .koment-control-bar {
  // Remain visible for screen reader and keyboard users
  visibility: visible;
  opacity: 0;

  $trans: visibility 1.0s, opacity 1.0s, height 0.4s;
  @include transition($trans);

  // Make controls hidden in IE8 for now
  @media #{$ie8screen} {
    visibility: hidden;
  }
}

.koment-has-started.koment-user-inactive.koment-toggle-menu.koment-playing .koment-control-bar {
  opacity: 0.3;
}

.koment-controls-disabled .koment-control-bar,
.koment-using-native-controls .koment-control-bar,
.koment-error .koment-control-bar {
  // !important is ok in this context.
  display: none !important;
}

// Don't hide the control bar if it's audio
.koment-audio.koment-has-started.koment-user-inactive.koment-playing .koment-control-bar {
  opacity: 1;
  visibility: visible;
}

// IE8 is flakey with fonts, and you have to change the actual content to force
// fonts to show/hide properly.
// - "\9" IE8 hack didn't work for this
// Found in XP IE8 from http://modern.ie. Does not show up in "IE8 mode" in IE9
.koment-user-inactive.koment-playing .koment-control-bar :before {
  @media #{$ie8screen} {
    content: "";
  }
}

// IE 8 + 9 Support
.koment-has-started.koment-no-flex .koment-control-bar {
  display: table;
}

.koment.koment-fullscreen .koment-control-bar {
  z-index: 9999999991;
}

.koment .koment-control-bar .koment-control {
  &:hover {
    .koment-control-text {
      display: block;
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    }
  }
}

// Hide control text visually, but have it available for screenreaders
.koment .koment-control-bar .koment-control-text {
  clip: inherit;
  width: auto;
  height: auto;
  overflow: inherit;
}

//
.koment .koment-control-bar > .koment-button .koment-control-text {
  display: block;
  visibility: hidden;
  opacity: 0;
  background: rgba($kmt-primary-foreground-color, 0.6);
  color: #FFFFFF;
  padding: 10px;
  border-radius: 0;
  /* right: 100%; */
  position: absolute;
  margin-top: -50%;
  right: 110%;
  transform: translateX(20px);
  text-align: left;
  font-family: $kmt-text-font-family;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border: 5px solid rgba($kmt-primary-foreground-color, 0.6);
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}
