.koment .edit-button {
  display: none;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  font-size: 0.7em;

  transition: height 0.2s linear;

  @extend .koment-icon-edit;

  &:before {
    line-height: 2.3;
  }
}

.koment.koment-toggle-menu .edit-button {
  display: flex;
  opacity: 1;
  visibility: visible;
  &:hover {
    color: #ff3e25;
  }
  &.active {
    animation: grow-shrink .3s ease 1;
  }
}

@keyframes grow-shrink {
  40% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
