.koment .koment-modal-dialog {
  @extend %fill-parent;
  @include background-color-with-alpha($kmt-primary-foreground-color, $kmt-primary-background-transparency - 0.2);
}

.koment-modal-dialog .koment-modal-dialog-content {
  @extend %fill-parent;

  font-size: 1.2em; // 12px
  line-height: 1.5; // 18px
  padding: 0;
  margin: 0;
  z-index: 1;
  color: #FFFFFF;
}
