.koment .kmt-post-box {
  display: none;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  top: 0;
  right: 0;
  left: 2em;
}

.koment .kmt-post-submit-button {
  height: 3em;
  font-size: 1.5em;
  .koment-control-text {
    border: 0;
    clip: inherit;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    &:before {
      width: 100%;
      background-color: #3498db;
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 0px;
    background-color: #fbfbfb;
    transition: .3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  cursor: pointer;
  border: #3498db solid 4px;
  background-color: #FFF;
  color: #3498db;
  transition: all 0.3s;
  font-weight: 700;
}

.koment.koment-toggle-edit .kmt-post-box {
  display: flex;
  flex: 1;
  opacity: 1;
  visibility: visible;
  padding: 0.5em;

  .koment-avatar {
    width: 6em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .kmt-post-box-comments {
    position: relative;
    max-height: 100%;
    width: 100%;
    border-radius: $primary-border-radius / 2;
    padding: 0.5em;
    font-size: 1.3em;
    @include background-color-with-alpha(#3498db, 1);
    color: $primary-background-color;
    margin-right: 0.5em;
    outline: none;

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      left: 10px + $primary-border-radius;
      bottom: -17px;
      width: 0;
      height: 0;
      border-width: 10px 6px 0 6px;
      border-color: rgba($primary-background-color, 1) transparent transparent transparent;
      transform: skewX(-20deg);
    }

    &:before {
      color: rgba($primary-background-color, 0.8);
    }

    [contentEditable=true]:empty:not(:focus):before {
      content: attr(data-placeholder-default);
    }

    .kmt-post-box-comments-input {
      height: 100%;
      word-break: break-word;
      width: 100%;
      .highlight {
        background: #fcc;
      }
    }

    .kmt-message-length {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      font-size: 0.5em;
    }
  }
}
