.koment .user-button {
  display: none;
  opacity: 0;
  visibility: hidden;
  @extend .koment-icon-user;
}

.koment.koment-toggle-menu .user-button {
  display: flex;
  opacity: 1;
  visibility: visible;

  animation: show .3s ease 1;
}

.koment.koment-no-user .list-button,
.koment.koment-no-user .edit-button,
.koment.koment-no-user .like-button {
  display: none !important;
}
