$kmt-icon-font-family: koment;
$kmt-icon-font-path: 'fonts';

// Text, icons, hover states
$kmt-primary-foreground-color: #000000;
$kmt-primary-border-radius: 0px;
// Control backgrounds (control bar, big play, menus)
$kmt-primary-background-color: #fff;
$kmt-primary-background-transparency: 0.9;

// Hover states, slider backgrounds
$kmt-secondary-background-color: lighten($kmt-primary-background-color, 33%);
$kmt-secondary-background-transparency: 0.5;

$kmt-text-font-family: 'Montserrat', Arial, Helvetica, sans-serif;

// Using the '--' naming for component-specific styles
$kmt-padding-global: 1em;
